
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@900&display=swap');
  *{
    transition: all .3s ease 0s;
    font-family: 'Outfit';
  }
  /* Colours */
  ::selection {
    background: #000 !important;
    color: #fff !important;
  }
  ::-moz-selection {
    background: #000 !important;
    color: #fff !important;
  }
  body > div + div {
    background: #DDE1F3;
  }
  body > div + div article:nth-child(1) {
    background: #4672B7;

  }
  body > div + div article:nth-child(2) {
    background: #708BC6;
  }
  body > div + div article:nth-child(3) {
    background: #96A7D6;
  }
  body > div + div article:nth-child(4) {
    background: #BAC3E5;
  }
  body > div + div article:nth-child(5) {
    background: #DDE1F3;
  }
  /* Main layout */
  html,
  body,
  body > div + div {
    width: 100vw;
    height: 100vh;
    margin: 0;
  }
  body > div + div {
    list-style: none;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    overflow: hidden;
  }
  /* Articles */
  body > div + div article {
    flex: initial;
    width: 20%;
    height: 100%;
    text-align: center;
    color: white;
    vertical-align: bottom;
    box-sizing: border-box;
    padding: 2vh 1vw;
    position: relative;
  }
  /* Big Headings */
  body > div:first-child {
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 2;

  }
  body > div:first-child h1,
  body > div:first-child h2 {
    margin: 0;
    padding: 0;
  }
  /* Hover interaction */
  body > div + div:hover article {
    flex: initial;
    width: 10%;
  }
  body > div + div article:hover {
    width: 70%;
  }
  article > div {
    opacity: 0;
    transition: opacity .2s ease 0;
  }
  article:hover > div {
    opacity: 1;
    transition: opacity .3s ease .3s;
  }
  /* navigation */
  body > div + div article > h2 {
    bottom: 2.2vh;
    position: absolute;
    width: 100%;
    margin: 0;
    left: 0;
    font-size: 4vh;
  }
  body > div + div:hover article > h2 {
    bottom: 2.8vh;
    font-size: 2vh;
  }
  body > div + div article:hover > h2 {
    bottom: 2.2vh;
    font-size: 3vh;
  }
  article > div h3 {
      padding-top: 2vh;
      padding-bottom: 10vh;
      font-size: 3em;
  }
  /* Article layouts */
  article > div {
    text-align: left;
    width: 58vw;
  }
  article > div p,
  article > div h2,
  article > div h3 {
    width: 30vw;
    margin: auto auto;
    text-align: center;
  }
  article > div p {
    width: 50vw;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-transform: uppercase;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  a:after {
    content: " >";
  }
  a:hover {
    text-decoration: underline;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  /* Mobile */
  @media (max-width: 900px) {
    body > div + div article {
      padding: 2vh 3vw 0 3vw;
    }
    body > div + div article > h2 {
      transform: rotate(90deg);
      bottom: 23vh;
      min-width: 12em;
      text-align: left;
      transform: rotate(-90deg);
      transform-origin: 0 0 0;
      opacity: 1;
    }
    body > div + div article:hover > h2 {
      opacity: 0;
    }
    article div {
      max-height: calc(100%);
      overflow-y: auto;
    }
    article div article div p {
      width: 50vw;
    }
  }
  .gallery {
    width: 100%;
    height: 0;
    padding-top: 0;
    box-sizing: border-box;
    position: relative;
  }
  .gallery .inner {
    display: grid;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 22px;
  
  }
 
  body > div + div article:nth-child(1) {
    /* Design */
  
  }
  body > div + div article:nth-child(1) .gallery .inner div:nth-child(1) {
    background-image: url("");
  }
  body > div + div article:nth-child(1) .gallery .inner div:nth-child(2) {
    background-image: url("");
  }
  body > div + div article:nth-child(1) .gallery .inner div:nth-child(3) {
    background-image: url("https://rachelreveley.co.uk/projects/figleaves_1.jpg");
  }
  body > div + div article:nth-child(1) .gallery .inner div:nth-child(4) {
    background-image: url("");
  }
  body > div + div article:nth-child(1) .gallery .inner div:nth-child(5) {
    background-image: url("");
  }
  body > div + div article:nth-child(1) .gallery .inner div:nth-child(6) {
    background-image: url("https://rachelreveley.co.uk/projects/col_1.jpg");
  }
  body > div + div article:nth-child(1) .gallery .inner div:nth-child(7) {
    background-image: url("");
  }
  body > div + div article:nth-child(1) .gallery .inner div:nth-child(8) {
    background-image: url("");
  }
  body > div + div article:nth-child(1) .gallery .inner div:nth-child(9) {
    background-image: url("");
  }
  body > div + div article:nth-child(2) {
    /* UX */
  
  }
  body > div + div article:nth-child(2) .gallery .inner div:nth-child(1) {
    background-image: url("");
  }
  body > div + div article:nth-child(2) .gallery .inner div:nth-child(2) {
    background-image: url("");
  }
  body > div + div article:nth-child(2) .gallery .inner div:nth-child(3) {
    background-image: url("");
  }
  body > div + div article:nth-child(2) .gallery .inner div:nth-child(4) {
    background-image: url("");
  }
  body > div + div article:nth-child(2) .gallery .inner div:nth-child(5) {
    background-image: url("");
  }
  body > div + div article:nth-child(2) .gallery .inner div:nth-child(6) {
    background-image: url("");
  }
  body > div + div article:nth-child(2) .gallery .inner div:nth-child(7) {
    background-image: url("");
  }
  body > div + div article:nth-child(2) .gallery .inner div:nth-child(8) {
    background-image: url("");
  }
  body > div + div article:nth-child(2) .gallery .inner div:nth-child(9) {
    background-image: url("");
  }
  body > div + div article:nth-child(3) {
    /* FE */
  
  }
  body > div + div article:nth-child(3) .gallery .inner div:nth-child(1) {
    background-image: url("https://rachelreveley.co.uk/projects/lovehoney_1.jpg");
  }
  body > div + div article:nth-child(3) .gallery .inner div:nth-child(2) {
    background-image: url("");
  }
  body > div + div article:nth-child(3) .gallery .inner div:nth-child(3) {
    background-image: url("https://rachelreveley.co.uk/projects/arcadia_1.jpg");
  }
  body > div + div article:nth-child(3) .gallery .inner div:nth-child(4) {
    background-image: url("");
  }
  body > div + div article:nth-child(3) .gallery .inner div:nth-child(5) {
    background-image: url("");
  }
  body > div + div article:nth-child(3) .gallery .inner div:nth-child(6) {
    background-image: url("");
  }
  body > div + div article:nth-child(3) .gallery .inner div:nth-child(7) {
    background-image: url("https://rachelreveley.co.uk/projects/byc_1.jpg");
  }
  body > div + div article:nth-child(3) .gallery .inner div:nth-child(8) {
    background-image: url("https://rachelreveley.co.uk/projects/zoomf_1.jpg");
  }
  body > div + div article:nth-child(3) .gallery .inner div:nth-child(9) {
    background-image: url("https://rachelreveley.co.uk/projects/localmole_1.jpg");
  }
  body > div + div article:nth-child(4) {
    /* Out of hours */
  
  }
  body > div + div article:nth-child(4) .gallery .inner div:nth-child(1) {
    background-image: url("https://rachelreveley.co.uk/photos/weed-bowl.jpg");
  }
  body > div + div article:nth-child(4) .gallery .inner div:nth-child(2) {
    background-image: url("https://rachelreveley.co.uk/photos/IMG_5407.jpg");
  }
  body > div + div article:nth-child(4) .gallery .inner div:nth-child(3) {
    background-image: url("https://rachelreveley.co.uk/photos/dragon-egg-bowl.jpg");
  }
  body > div + div article:nth-child(4) .gallery .inner div:nth-child(4) {
    background-image: url("https://rachelreveley.co.uk/photos/IMG_1518.JPG");
  }
  body > div + div article:nth-child(4) .gallery .inner div:nth-child(5) {
    background-image: url("https://rachelreveley.co.uk/photos/IMG_5403.jpg");
  }
  body > div + div article:nth-child(4) .gallery .inner div:nth-child(6) {
    background-image: url("https://rachelreveley.co.uk/photos/IMG_1586.jpg");
  }
  body > div + div article:nth-child(4) .gallery .inner div:nth-child(7) {
    background-image: url("https://rachelreveley.co.uk/photos/IMG_5397.jpg");
  }
  body > div + div article:nth-child(4) .gallery .inner div:nth-child(8) {
    background-image: url("https://rachelreveley.co.uk/photos/IMG_2392.jpg");
  }
  body > div + div article:nth-child(4) .gallery .inner div:nth-child(9) {
    background-image: url("https://rachelreveley.co.uk/photos/IMG_1597.JPG");
  }
  