@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@900&display=swap');

html,
body {
  width: 100%;
  height: 100vh;
}
*{
    font-family: 'Outfit', cursive ;
}
.body.clicked {
    height: fit-content;
    width: 100%;
}
.info {
  position: fixed;
  z-index: 15;
  font-style: italic;
  font-size: small;
  left: 2vw;
}
p {
  text-decoration: none; 
  color: white;
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 50vh;
}

p span {
  position: absolute;
  top: -1.5em;
  left: 50%;
  margin-left: -0.5em;
  font-size: 1.5em;
}

#main-wrapper {
  width: 100%;
  height: 100%;
}

.box {
  width: 50%;
  height: 50%;
  margin: 0;
  position: absolute;
  text-align: center;
  transition: all ease-out 0.3s;
  user-select: none;
  cursor: pointer;
  overflow-y: hidden;
  overflow-x: hidden;
}
.box:hover .box-content {
  margin-top: 1vh;
}
.box:hover .box-content-design {
  margin-top: 1vh;
}
.box:hover .box-content-video {
  margin-top: 1vh;
}
.box:hover .box-content-web {
  margin-top: 1vh;
}
.box .box-content  {
  height: 50%;
  position: relative;
  top: 45%;
  margin-top: 5vh;
  text-transform: uppercase;
  transition: margin-top 0.2s;
  -webkit-transition: margin-top 0.2s ease-in-out;
}
.box-content.clicked{
  top: 0;
  margin-top: 1vh;
}
.projects.clicked {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    z-index: 2;
    transition: 0.3s;
}
.titre.clicked {
    font-size: 4em;
    margin-bottom: 0%;
    top: 0;
    margin-top: 0%;
}
.web {
  top: 0;
  left: 0;
  background-color: #BAA4CA;
}
.projects {
  top: 0;
  left: 50%;
  background-color: #36304A;
}
.about {
  top: 50%;
  left: 0;
  background-color: #9688C0;
}
.contact {
  top: 50%;
  left: 50%;
  background-color: #dbcbd8;
}



/* photographie*/

.gallery {
  display: flex;
  padding: 1%;
  transition: 0.3s;
}
.gallery:hover .gallery__image {
  filter: grayscale(1);
}
.gallery__column {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.gallery__link {
  margin: 0;
  overflow: hidden;
}
.gallery__link:hover .gallery__image {
  filter: grayscale(0);
}
.gallery__link:hover .gallery__caption {
  opacity: 1;
}
.gallery__thumb {
  position: relative;
}
.gallery__image {
  display: block;
  width: 100%;
  transition: 0.3s;
  margin: 0;
}
.gallery__image:hover {
  transform: scale(1.1);
  border: solid black 2px;
}
.gallery__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 16px;
  color: white;
  opacity: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255, 255, 0) 100%);
  transition: 0.3s;
}

article img[data-src] {
  filter: blur(0.2em);
}

article img {
  filter: blur(0em);
  transition: filter 0.5s;
}


/* CARROUSSEL */

.cours {
  width: 60vw;
  margin: 3%;
  border-bottom: 3px solid black;
  padding-bottom: 4vh ;
}
.pulpfiction {
  border-bottom: 3px solid black;
  padding-bottom: 4vh ;
  margin: 3%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.imgpf {
  width: 20vw;
  margin: auto;
}
embed {
  width: 45vw;
  height: 90vh;
  margin: 3%;
  border-bottom: 3px solid black;
  padding-bottom: 4vh ;
}

.box .box-content-design {
  height: 50%;
  position: relative;
  top: 45%;
  margin-top: 5vh;
  text-transform: uppercase;
  transition: margin-top 0.2s;
  -webkit-transition: margin-top 0.2s ease-in-out;
}
.box-content-design.clickeddesign{
  top: 0;
  margin-top: 0;
  padding: 0;
}

.about.clickeddesign {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    transition: 0.3s;
    z-index: 2;
}

.titre-design.clickeddesign {
    font-size:  4em;
    margin-bottom: 0;
    top: 0;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
}

/* VIDEO */
.box .box-content-video  {
  height: 50%;
  position: relative;
  top: 45%;
  margin-top: 5vh;
  text-transform: uppercase;
  transition: margin-top 0.2s;
  -webkit-transition: margin-top 0.2s ease-in-out;
}
.box-content.clickedcontact{
  top: 0;
  margin-top: 1vh;
}
.contact.clickedcontact {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    z-index: 2;
    transition: 0.3s;
}
.titre-video.clickedcontact {
    font-size: 4em;
    margin-bottom: 0%;
    top: 0;
    margin-top: 0%;
}
#ba {
  margin-bottom: 8%;
  margin-top:6%;
  width: 100%;
}



/*web*/
.box .box-content-web {
  height: 50%;
  position: relative;
  top: 45%;
  margin-top: 5vh;
  text-transform: uppercase;
  transition: margin-top 0.2s;
  -webkit-transition: margin-top 0.2s ease-in-out;
  padding-left: 0%;
}
.box-content-web.clickedweb{
  top: 0;
  margin-top: 1vh;
}
.web.clickedweb {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    z-index: 2;
    transition: 0.3s;
}
.titre-web.clickedweb{
    font-size: 4em;
    margin-bottom: 0%;
    top: 0;
    margin-top: 0%;
}
.info {
  position: fixed;
}
@media screen and (max-width: 900px) {
  .titre.clicked {
    font-size: 2em;
    margin-bottom: 5%;
    top: 5vh;
    margin-top: 5%;
}
.titre-design.clickeddesign {
  font-size: 2em;
  margin-bottom: 5%;
  top: 5vh;
  margin-top: 5%;
}
.titre-web.clickedweb {
  font-size: 2em;
  margin-bottom: 5%;
  top: 5vh;
  margin-top: 5%;
}
.titre-video.clickedcontact {
  font-size: 2em;
  margin-bottom: 5%;
  top: 5vh;
  margin-top: 5%;
}
  .gallery {
    display: flex;
    flex-direction: column;
    padding: 5%;
    transition: 0.3s;
  }

  .gallery__column {

    flex-direction: column;
    width: 90vw;
  }
  .gallery__link {
    margin: 0;
    overflow: hidden;
  }

  .gallery__link:hover .gallery__caption {
    opacity: 1;
  }
  .gallery__thumb {
    position: relative;
  }
  .gallery__image {
    display: block;
    width: 100%;
    transition: 0.3s;
    margin: 0;
  }
  .gallery__image:hover {
    transform: scale(1.1);
    border: solid black 2px;
  }
  .gallery__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 16px;
    color: white;
    opacity: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255, 255, 0) 100%);
    transition: 0.3s;
  }
  
  article img[data-src] {
    filter: blur(0.2em);
  }
  
  article img {
    filter: blur(0em);
    transition: filter 0.5s;
  }
  .gallery:hover .gallery__image {
    filter: grayscale(0);
  }
  embed {
    width: 90vw;
    height: 45vh;
    margin: 3%;
    border-bottom: 3px solid black;
    padding-bottom: 4vh ;
  }
  .cours {
    width: 95vw;
    margin: 3%;
    border-bottom: 3px solid black;
    padding-bottom: 4vh ;
    margin-top: 8%;
  }

.pulpfiction {
  border-bottom: 3px solid black;
  padding-bottom: 4vh ;
  margin: 3%;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr 1fr ;
}
.imgpf {
  width: 40vw;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 3%;
}
.info {
  position: fixed;
  z-index: 15;
  font-style: italic;
  font-size: 0.8em;
  left: 2vw;
  width: 40vw;
}
  #video1 {
    width: 90vw;
  }
  #video2 {
    width: 90vw;
  }
  #video3 {
    width: 90vw;
  }
}